<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">
<!-- 
create table tbl_user(
	u_no number not null,
	u_id varchar2(50) unique,
	u_pw varchar2(50) not null,
	u_name varchar2(100) not null,
	u_point number default 0,
	u_session varchar2(50) default 'none',
	u_sessionlimit Date default sysdate,
	constraint pk_uno primary key (u_no) 
);

		
 -->
 	<sql id="base">
 		b_no as bno, b_title as btitle, 
		b_content as bcontent, b_writer as bwriter,
		b_regdate as bregdate, b_viewcnt as bviewcnt
 	</sql>
	<!--  	private int rrno;
	private int rreplytext;
	private int rreplyer;
	private Date rregdate;
	private Date rrupdatedate;
	-->
	<sql id="reply">
		R_NO AS rrno, R_REPLYtext as rreplytext,
		r_replyer as rreplyer, r_updatedate as rrupdatedate
	</sql> 	
 	<select id="count"  resultType="int">
 		SELECT
 			COUNT(B_NO)
 		FROM
 			TBL_BOARD
 	</select>
 	
 	
 	<select id="list" 	parameterType="hmap" resultType="bvo">
	select * from(
                select rownum as rno, t.* from
                    (select <include refid="base"/> , nvl(r.cnt, 0) as rcnt from TBL_BOARD , 
                        (select b_no as bno , count(*) as cnt from tbl_reply group by b_no) r 
                            where b_no = r.bno(+) order by b_no desc
                    )t
             ) where rno between #{START}  and  #{END}	
	</select>
	
	<insert id="insert" parameterType="bvo">
		INSERT 
			INTO
		 tbl_board
			VALUES
			((SELECT NVL(MAX(B_NO), 0)+1 FROM TBL_BOARD),
			#{btitle}, #{bcontent}, #{bwriter}, sysdate, 0)
	</insert>
	
	<select id="boardView" parameterType="int" resultType="bvo">
		SELECT 
			b_no as bno, b_title AS btitle, b_content AS bcontent, b_writer AS bwriter,
 			b_regdate AS bregdate, b_viewcnt AS bviewcnt 
 		FROM 
 			TBL_board where b_no = #{bno}
	</select>
	
	<delete id="remove" parameterType="int">
		delete from tbl_board where b_no = #{bno}
	</delete>
	
	
	<update id="viewcnt">
		UPDATE
			TBL_BOARD
		SET
			B_VIEWCNT = B_VIEWCNT + 1
		WEHRE B_NO = #{bno}	
	</update>
	
	
	<select id="modifyForm" parameterType="int" resultType="bvo">
		select
			<include refid="base"/>	
		from 
			TBL_BOARD
		where
			b_no = #{bno}		
	</select>
	
	<update id="modifyProc">
		update tbl_board set 
			b_title = #{btitle}, b_content = #{bcontent}, 
			b_regdate= sysdate 
		where b_no = #{bno}
	</update>
	
	<select id="searchCount" parameterType="hmap" resultType="int">
		select
			count
			<if test="WORD eq 'ALL' ">
				<if test="SEARCH eq 'title' ">
					(b_title) 
				</if>
				<if test="SEARCH eq 'content' ">
					(b_content) 
				</if>
				<if test="SEARCH eq 'writer' ">
					(b_writer)
				</if>
				from tbl_board
			</if>
			
			<if test="WORD neq 'ALL' ">
				<if test="SEARCH eq 'title' ">
				 (b_title) 	from tbl_board where b_title 
				</if>
				<if test="SEARCH eq 'content' ">
				 (b_content) from tbl_board where b_content 
				</if>
				<if test="SEARCH eq 'writer' ">
				 (b_writer)	from tbl_board where b_writer 
				</if>
				
				like '%'|| #{WORD} ||'%'
			</if>
	
	</select>
	
	<select id="searchList" parameterType="hmap" resultType="bvo">
		SELECT * FROM (
			(SELECT ROWNUM AS RNO, t.* FROM
				(select
					<include refid="base" />
						<if test="WORD eq 'ALL' ">
							from tbl_board
						</if>
					
						<if test="WORD neq 'ALL' ">
							<if test="SEARCH eq 'title' ">
								from tbl_board where b_title like '%'|| #{WORD} ||'%'
							</if>
							<if test="SEARCH eq 'content' ">
								from tbl_board where b_content like '%'|| #{WORD} || '%'
							</if>
							<if test="SEARCH eq 'writer' ">
								from tbl_board where b_writer like '%'|| #{WORD} || '%'
							</if>
						</if>
					order by b_no desc) t
				)
			) WHERE RNO BETWEEN #{START} AND #{END} 
	</select>
	
	<select id="searchView" parameterType="int" resultType="bvo">
		SELECT
			<include refid="base"/>
		FROM tbl_board
			WHERE B_NO = #{bno}	
	</select>
	

	<select id="replyList" parameterType="int" resultType="bvo">
		select <include refid="reply"/> from tbl_reply where b_no = #{bno} order by r_no desc
	</select>
	
	<insert id="replyProc" parameterType="bvo">
		insert into tbl_reply values((select nvl(max(r_no),0)+1 from tbl_reply), #{bno}, #{rreplytext}, #{rreplyer}, SYSDATE, SYSDATE)
	</insert>
	
	<delete id="removeReply" parameterType="int">
		delete from tbl_reply where r_no = #{rrno} 
	</delete>
	
	<update id="replyModify">
		update tbl_reply set 
			R_REPLYTEXT = #{rreplytext}, 
			R_UPDATEDATE= sysdate 
			where R_NO=#{rrno}
	</update>
	
	<select id="mSearch" parameterType="bvo" resultType="bvo">
		SELECT <include refid="base"/>
		from
			TBL_Board
			where
			<if test="bwriter != null">
				b_writer like '%'|| #{bwriter} || '%' 
				
				<if test="btitle != null">
					 and b_title like '%'|| #{btitle} || '%' 				
					<if test="bcontent !=null">
						and b_content like '%' || #{bcontent} || '%'
					</if>
				</if>
			</if>
			
			<if test="bwriter == null and btitle !=null">
				 b_title like '%'|| #{btitle} || '%' 				
					<if test="bcontent !=null">
						and b_content like '%' || #{bcontent} || '%'
					</if>
			</if>
			 
			 <if test="bwriter == null and btitle ==null and bcontent !=null">
			 	b_content like '%' || #{bcontent} || '%'
			 </if>
			 
			 <if test="sdate != null and edate != null">
			 	b_regdate between #{sdate} and #{edate}
			 </if>
			 
			 <if test="sdate != null and edate == null">
			 	b_regdate >= #{sdate}
			 </if>
			 
			 <if test="sdate == null and edate != null">
			 	b_regdate <![CDATA[<=]]> #{edate}
			 </if>
			 order by b_no desc
	</select>
	
	<select id="info" parameterType="int" resultType="bvo">
		SELECT
			<include refid="base"/>
		FROM TBL_BOARD WHERE b_no = #{bno}	
	</select>
</mapper> 